{% extends 'base.html.twig' %}

{% block title %}
    Détails
{% endblock %}

{% block subtitle %}
    Mon souhait !
{% endblock %}

{% block wiki_body %}
    id="wiki_body"
{% endblock %}

{% block main %}
    <section class="wiki_trad">
        <div>
            <aside class="wish_titre">
                <span>« {{ wish.title }} »</span>
                <span>{{ wish.author }}</span>
            </aside>
            <aside class="wish_description">
                <p>{{ wish.description }}</p>
            </aside>
            <aside class="wish_date">
                <div>
                    <span><i class="fas fa-heart"></i>{{ wish.likes }}</span>
                    <span><i class="fas fa-comment-dots"></i>{{ wish.reactions|length }}</span>
                </div>
                <span>{{ wish.dateCreated | date("d/m/Y") }}</span>
            </aside>
            <aside class="wish_subtitle">
                <h2>Les Commentaires ( <p>{{ wish.reactions|length }}</p> ) : </h2>
            </aside>
            {% for reaction in reactions %}
            <aside class="react">
                    <div class="react_info">
                        <span>{{ reaction.username }}</span>
                        <span>{{ reaction.dateCreated | date("d/m/Y") }}</span>
                    </div>
                    <div class="react_message">
                        <p>{{ reaction.message }}</p>
                    </div>
            </aside>
            {% endfor %}
            <aside class="react_new">
                <h2>Nouveau Commentaire : </h2>
                <div class="react_newForm">
                    {{ form(reactForm) }}
                </div>
            </aside>
        </div>
    </section>
    <section class="wish_retour"><a href="{{ path('wishlist') }}">Retour !</a></section>
{% endblock %}
