{% extends 'base.html.twig' %}

{% block title %}
    Traducteur
{% endblock %}

{% block subtitle %}
    Liste des souhaits !
{% endblock %}

{% block wiki_body %}
    id="wiki_body"
{% endblock %}

{% block main %}
    <section id="wishlist" class="wiki_trad">
        {% for bucket in buckets %}
        <div><a href="{{ path('wish_detail', {id: bucket.id }) }}">
            <aside class="wish_titre">
                <span>« {{ bucket.title }} »</span>
                <span>{{ bucket.author }}</span>
            </aside>
            <aside class="wish_description">
                <p>{{ bucket.description }}</p>
            </aside></a>
            <aside class="wish_date">
                <div>
                    <span><i class="fas fa-heart"></i>{{ bucket.likes }}</span>
                    <span><i class="fas fa-comment-dots"></i>{{ bucket.reactions|length }}</span>
                </div>
                <span>{{ bucket.dateCreated | date("d/m/Y") }}</span>
            </aside>
        </div>
        {% endfor %}
    </section>
    <section class="wish_page">
        {% if currentPage > 1 %}
            <a href="{{ path('wishlist', {'page': currentPage-1}) }}"><button>Previous Page</button></a>
        {% endif %}
        {% if (currentPage * 20) < totalResultCount %}
            <a href="{{ path('wishlist', {'page': currentPage+1}) }}"><button>Next page</button></a>
        {% endif %}
    </section>
{% endblock %}

